<app-divider>
    Modal Component
</app-divider>
<button (click)="onClick()">Opne Modal</button>

<app-modal (close)="onClick()" *ngIf="modalOpen">
    <div modalTitle>
        MODAL!
    </div>
    <p>
        Some content for the omdal window should go right here!
    </p>
    <ng-container modalFooter>
        <button class="ui button" (click)="onClick()">Close Me</button>
    </ng-container>
</app-modal>

<app-divider>
    Accordion Component
</app-divider>

<app-accordion [items]="items"></app-accordion>